.simple-button {
    position: relative;

    border-color: rgba(126, 126, 126, 0.88);
    border-style: solid;
    border-width: 8px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.28);
    color: #e8e8e8;
    text-shadow: 1px 4px 8px black;
    font-size: 2em;

}

.resultWithUser .list-group-item{


    -moz-width: 170px;
    width: 270px;
    top: 44px;
    -moz-left: 538px;
    left: 544px;
    z-index: 1031;
    border-radius: 5px;
    opacity: 0.9;
    text-align: left;

}

.resultWithoutUser .list-group-item{

    position: fixed;
    width: 170px;
    top: 44px;
    left: 389px;
    z-index: 1031;
    border-radius: 5px;
    opacity: 0.9;
    text-align: left;


}