

#button-to-hide{
    display: none;
}
.sr-only{
    display: none;
}
#logo-pdf{
   position: relative;
    left: 800px;
    width: 300px;

}
.navbar-header{
    position: relative;
    left: 20px;
}

#fertig-text{
    width: 350px;
}


.btn-danger{
    display: none!important;
}

table{
    position: relative;
    right: 120px!important;
}