
body {
    position: relative;
    top: 150px;
    background-image: url(http://alexgurghis.com/themes/vetro/wp-content/uploads/2013/05/bg3.jpg);
    background-size: 2700px;

}



.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 120px;
    overflow: hidden;
}




.thumbnail>img{
    width:320px;
    height:170px !important;


}
.beschreibung{

    font-size:11px;

}

.wbutton{

    font-size:11px;


}

 #namebeschreibung{
     color:black;
 }



