body{
    background-color: #363636;
    text-align: center;


}

.buffer{
    padding-top:150px;

}


h1, p, a, footer{

    color: #ffffff;
    text-shadow: 8px 3px 9px rgba(8, 8, 8, 0.4);

}

article{

}

article h1{
    font-size: 5em;
    text-align: center;
    font-variant: small-caps;
    color: white;
}

section, footer{
    position: relative;
    top: 748px;
    background-image: url(http://alexgurghis.com/themes/vetro/wp-content/uploads/2013/05/bg3.jpg);
    background-size: 2700px;
}

section{
    text-align: center;
    height: 1200px;
}
.logo{
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.midnight-blue-flat-button {
display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
margin-top: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}
.midnight-blue-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group{
    margin-top: 2px;

}

.navbar-fixed-top {

   opacity: 0.9;
}
.banner{
    position: fixed;
    top: 2px;


}
.simple-button{
    position: absolute;

    border-color: rgba(126, 126, 126, 0.88);
    border-style: solid;
    border-width: 8px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.28);
    color: #e8e8e8;
    text-shadow: 1px 4px 8px black;
    font-size: 2em;



}
.simple-button:hover{
    border-color: rgba(128, 128, 128, 0.88);
    border-style: solid;
    border-width: 8px;
    padding: 20px;
    background-color: rgba(162, 162, 162, 0.4);
    color: #e8e8e8;
    text-shadow: 1px 4px 8px black;
    font-size: 2em;

}
.simple-button:active{
    border-color: rgba(93, 93, 93, 0.88);
    border-width: 8px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #b7b7b7;
    text-shadow: 1px 4px 8px black;
    font-size: 2em;

}

#slider {

    position: relative;
    overflow: hidden;
    top: 0px;
}
#slider .slides{
    display: block;
    width: 7200px;
    height: 400px;
    margin-left: 0px;
    margin-right: 15px;
    padding: 0;
}
#slider .slide{
    float: left;
    list-style-type: none;


}
.text_button_home{
    text-align: center;
    margin-left: 5%;
    position: absolute;
    top: 50px;
}

.loginform{

    position: relative;
    top: 200px;
    padding: 15px;
}
.container{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;

    border-radius: 20px;
    border-spacing: 5px;


}
#error{
    color: #2ecc71;
}

.img-circle{
    width: 200px;
    margin-top: 20px;
}
#zitat{
    margin-top: 20px;
    font-style: italic;
}
#fertig-nummer{
    width: 25px;
    text-align: center;
}
.block-home{
    position: center;
    margin: 40px;
}