body {
	position: relative;
	top: 150px;
	background-image: url(http://alexgurghis.com/themes/vetro/wp-content/uploads/2013/05/bg3.jpg);
	background-size: 2700px;

}


label {
	width: 100%;
}

#trainingsplan ,/*#trainingsplan-fertig*/{
	width: 100%;
	text-align: center;
	color: white;
	margin-bottom: 0px;
}
#trainingsplan fieldset{
	background: white;
	border: 0 none;
	border-radius: 10px;
	padding: 20px 30px;
	box-sizing: border-box;
	margin: 25px;

	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#trainingsplan fieldset:not(:first-of-type) {
	display: none;
}
/*buttons*/
#trainingsplan .action-button, #trainingsplan-fertig .action-button{
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.action-button{
	width: auto;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#trainingsplan-fertig  fieldset{
	background: white;
	border: 0 none;
	border-radius: 10px;
	padding: 20px 30px;
	box-sizing: border-box;
	margin: 25px;
	float: right;
	
}


#papierkorb{
	position: relative;

	float: right;
	left: 400px;
	top: -150px;
	width: 70px;
	height: 90px;
	margin: 25px;

}
#div2 {
	height: 30px;
	width: 100%;
	/*padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;*/
	border:1px solid #aaaaaa;
}
#div3{
	background-image: url("../images/papierkorb.png");
	background-size: 50%;
	background-repeat: no-repeat;
	position: relative;
	width: 130px;
	height: 160px;

}

/*headings*/
.fs-title {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: green;
	margin-bottom: 10px;
}
.fs-text {
	width:45%;
	font-size: 15px;
	font-weight: bold;
	color: green;
}
.fs-number {
	position:relative;
	width: 20%;
	color: black;
}
/*progressbar*/
#progressbar {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 100px;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
#ueberschrift{
	color:white;
}

.table{
	background-color: white;
	border-radius: 20px;

}



