


<meta charset="UTF-8">
@main( "home" ) {

<div class="banner">

    <img src="@routes.Assets.at("images/banner1.jpg")" width="2000px">
                 
</div>


        <section>



            <div id="slider">

                <ul class="slides">
                    <li class="slide"><img src="@routes.Assets.at("images/slide1.jpg")"></li>
                    <li class="slide"><img src="@routes.Assets.at("images/slide2.jpg")"></li>
                    <li class="slide"><img src="@routes.Assets.at("images/slide3.jpg")"></li>
                    <li class="slide"><img src="@routes.Assets.at("images/slide1.jpg")"></li>

                </ul>


            </div>
            <div class="block-home">
            <article class = "text_button_home center-block">
                <h1>Du kannst dein Trainingsplan individuell erstellen!</h1>
                <h1>Mach jetzt mit</h1>
                <h1></h1>
                <form action="@routes.Application.tp()">
                    <button type="submit" class="simple-button" value="erstellen">Trainingsplan erstellen</button>
                </form>
            </article>
            </div>

            <img src="/assets/images/robert.jpg" class="img-circle">
            <p id="zitat">The pain you feel today is the strength you feel tomorrow</p>
        </section>

}
