

@(user_form: Form[Users])
@main("login"){


@helper.form(action = routes.Application.authenticate(), 'id -> "user_form"){

  <!-- youtube Video as background should be replaced with HTML5 video... -->

  <div style="position: fixed; z-index: -99; width: 100%; height: 100%; overflow: hidden ">
    <iframe id="ytplayer" frameborder="0" height="100%" width="100%"
    src="https://www.youtube.com/embed/CVBFtogcGSc?autoplay=1&controls=0&showinfo=0&autohide=1&start=25&end=300&repeat=1&volume=0">
    </iframe>

  </div>



<div class="loginform">
  <div class="container">
    @if(flash.contains("wrongLogin")){
      <p id="error">@flash.get("wrongLogin")</p>

    }
    @if(flash.contains("afterRegister")){
      <p id="error">@flash.get("afterRegister")</p>

    }


    <div class = "row">
    <div class="col-sm-4 col-sm-offset-4">
  @helper.inputText(
  user_form("email"),
    'class -> "form-control",
    'placeholder ->"Enter email",
    '_label -> "Email",
    '_showConstraints -> false
  )

  @helper.inputPassword(
    user_form("password"),
    'class -> "form-control",
    'placeholder -> "Enter password",
    'id -> "exampleInputEmail1",
    '_label -> "Password",
    '_showConstraints -> false
  )

  <input class="btn btn-default" type="submit" value="submit">

</div>
</div>
</div>
</div>




}


}

