@(user_form: Form[Users])
@main("register"){


        @helper.form(action = routes.Application.register(), 'id -> "user_form"){
            <!-- youtube Video as background should be replaced with HTML5 video... -->

            <div style="position: fixed; z-index: -99; width: 100%; height: 100%; overflow: hidden ">
                <iframe id="ytplayer" frameborder="0" height="100%" width="100%"
                src="https://www.youtube.com/embed/CVBFtogcGSc?autoplay=1&controls=0&showinfo=0&autohide=1&start=25&end=300&repeat=1&volume=0">
                </iframe>

            </div>

            <div class="loginform">
                <div class="container">
                    <div class = "row">
                        <div class="col-sm-4 col-sm-offset-4">
                            @if(flash.contains("emailError")){
                                <p id = "error">@flash.get("emailError")</p>
                                <p><a href="@routes.Application.login()">Hier zum einlogen</a> </p>

                            }
                            @if(flash.contains("usernameError")){
                                <p id = "error">@flash.get("usernameError")</p>
                            }
                @helper.inputText(
                    user_form("email"),
                    'class -> "form-control",
                    'placeholder -> "Enter email",
                    '_label -> "Email",
                    '_showConstraints -> false
                )

                @helper.inputText(
                    user_form("username"),
                    'class -> "form-control",
                    'placeholder -> "Enter username",
                    '_label -> "User Name",
                    '_showConstraints -> false
                )

                @helper.inputText(
                    user_form("firstName"),
                    'class -> "form-control",
                    'placeholder -> "Enter first name",
                    '_label -> "First Name",
                    '_showConstraints -> false
                )

                @helper.inputText(
                    user_form("lastName"),
                    'class -> "form-control",
                    'placeholder -> "Enter last name",
                    '_label -> "Last Name",
                    '_showConstraints -> false

                )

                @helper.inputPassword(
                    user_form("password"),
                    'class -> "form-control",
                    'placeholder -> "Enter password",
                    '_label -> "Password",
                    '_showConstraints -> false
                )

                <input type="submit" class="btn btn-default" value="Register">

            </div>
                </div>
            </div>
</div>
        }

}