
@import com.avaje.ebean.SqlRow

@(t: List[SqlRow])

@for(plan <- t){


    <a href = "usertp/@plan.getString("user")" class = "list-group-item" >@plan.getString("titel")
    <p id="small">von: @plan.getString("user")</p></a>

}
    <style>
        #small{
            font-size: 9px;
            color: cornflowerblue;

        }

    </style>