@(p: List[Produkt])

<link rel="stylesheet" href=@routes.Assets.at("stylesheets/shop-style.css")>
<meta charset="utf-8">
@main(title = "shop") {

  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <p class="lead">Bodyhub Shop</p>
        <div class="list-group">
          <a href="@routes.Application.shoper("Ernaehrung")" class="list-group-item">Erneahrung</a>
          <a href="@routes.Application.shoper("Metabolisma")" class="list-group-item">Metabolisma</a>
          <a href="@routes.Application.shoper("Muskelaufbau")" class="list-group-item">Muskelaufbau</a>
          <a href="@routes.Application.shoper("Anderes")" class="list-group-item">Anderes</a>
        </div>
      </div>

      <div class="col-md-9">

        <div class="row carousel-holder">

          <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img class="slide-image"  src="/assets/images/shop/shop1.jpg"  alt="">
              </div>
                <div class="item">
                  <img class="slide-image" src="/assets/images/shop/shop2.jpg" alt="">
                </div>
                <div class="item">
                  <img class="slide-image" src="/assets/images/shop/shop3.jpg" alt="">
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
        @if(flash.contains("korbError")){
          <p id ="error">@flash.get("korbError")</p>
        }

        <div class ="row">

        @for(produkt <- p){

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img class= "produktbilder" src="@produkt.bildurl">
              <div class="caption">
                <h4 class="pull-right">@produkt.preis</h4>
                  <div class="namebeschreibung">
                    <h4>@produkt.name</h4>
                    <div class="beschreibung">@produkt.beschreibung</div>
                  </div>
                <div class="wbutton">
                  <form action="@routes.Application.addToCart(produkt.artikelnummer)" method="get">
                  <input type="submit" class="btn btn-info" value="In den Warenkorb">
                  </form>
                  </div>
              </div>
            </div>
          </div>


          }

      </div>


    </div>

  </div>

</div>

}