<link rel="stylesheet" href=@routes.Assets.at("stylesheets/trainingsplan-style.css")>
<meta charset="utf-8">
@main("trainingsplan") {

	<h1 id="ueberschrift">Wähle deinen optimalen Trainingsplan</h1>
	@if(flash.contains("trainingError")){
		<p id="error">@flash.get("trainingError")</p>
	}

	<form id="trainingsplan">
		<ul id="progressbar">
			<li class="active">Brust</li>
			<li>Rücken</li>
			<li>Schultern</li>
			<li>Bizeps</li>
			<li>Trizeps</li>
			<li>Beine</li>
			<li>Bauch</li>
		</ul>
		<div>
		<fieldset>
			<h2 class="fs-title">Brust</h2>
			<label id="brust1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text " value="Bankdrücken (Flach)" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">

			</label><br>
			<label id="brust2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Schrägbankdrücken" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust3" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Negativ Bankdrücken" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust4" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Fliegende" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust5" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Schrägbank Fliegende"name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">

			</label><br>
			<label id="brust6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Negativ Fliegende"name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Butterfly"name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Negativ Fliegende"name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Butterfly"name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">

			</label><br>
			<label id="brust8" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Überzüge" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust9" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Kabelzug über Kreuz" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="brust10" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Dips (Brust Version)" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<input type="button" name="next" class="next action-button" value="Next"/>
		</fieldset>
		<fieldset>
			<h2 class="fs-title">Rücken</h2>
			<label id="rucken1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Breite Klimmzüge im Obergriff" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Enge Klimmzüge im Untergriff" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken3" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Latzug zur Brust" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken4" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Latzug in den Nacken" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken5" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Enger Latzug mit der V-Stange" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Langhantel-Rudern" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Rudern am Kabelzug" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken8" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Einmaliges Kurzhantel-Rudern" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken9" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Rudern mit der T-Stange" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken10" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Kreuzheben" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken11" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Rückenstrecken" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="rucken12" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Shrugs" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<input type="button" name="previous" class="previous action-button" value="Previous"/>
			<input type="button" name="next" class="next action-button" value="Next"/>
		</fieldset>
		<fieldset>
			<h2 class="fs-title">Schultern</h2>
			<label id="schultern1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Langhantel Schulterdrücken" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Schulterdrücken in den Nacken" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern3" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Kurzhantel Schulterdrücken" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern4" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Arnold Press" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern5" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Seitheben" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Seitheben am Kabelzug" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Aufrechtes Rudern" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern8" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Aufrechtes Kurzhantel-Rudern" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern9" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Frontheben" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern10" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Langhantel-Frontheben" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern11" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Reverse Flyes" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="schultern12" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Reverse Butterfly" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<input type="button" name="previous" class="previous action-button" value="Previous"/>
			<input type="button" name="next" class="next action-button" value="Next"/>
		</fieldset>
		<fieldset>
			<h2 class="fs-title">Bizeps</h2>
			<label id="bizeps1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Langhantel-Curls" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="SZ-Stange"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps3" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Hammercurls" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps4" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Konzentrationcurls"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps5" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Scottcurls"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Bizepscurls"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Bizep Curl Maschine"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps8" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Unterarm-Curls (Obergriff)"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bizeps9" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Unterarm-Curls (Untergriff)"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<input type="button" name="previous" class="previous action-button" value="Previous"/>
			<input type="button" name="next" class="next action-button" value="Next"/>
		</fieldset>
		<fieldset>
			<h2 class="fs-title">Trizeps</h2>
			<label id="trizeps1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Trizeps Dips"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Enges Bankdrücken"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps3" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Arnold-Dips"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps4" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Stirndrücken"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps5" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Trizepsdrücken"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Trizepsdrücken am Kabelzug"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Trizeps-Liegestütze"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps8" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Kurzhantel-Trizepsdrücken"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps9" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Einarmiges Trizepsdrücken"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="trizeps10" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Kickbacks"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<input type="button" name="previous" class="previous action-button" value="Previous"/>
			<input type="button" name="next" class="next action-button" value="Next"/>
		</fieldset>
		<fieldset>
			<h2 class="fs-title">Beine</h2>
			<label id="beine1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Kniebeugen" name = "ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Front-Kniebeugen"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine3" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Hackenschmidt-Kniebeugen"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine4" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Beinpresse"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine5" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Ausfallschritte"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Beinstrecken"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Liegendes Beinbeugen"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine8" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Stehendes Beinbeugen"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine9" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Sitzendes Beinbeugen" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine10" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Kreuzheben mit gestreckten Beinen" name="stiff-legged-deadlift" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine11" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Stehendes Wadenheben"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine12" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Sitzendes Wadenheben"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine13" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Wadenheben an der Beinpresse"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="beine14" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Donkey Calf Raise"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label>
			<input type="button" name="previous" class="previous action-button" value="Previous"/>
			<input type="button" name="next" class="next action-button" value="Next"/>
		</fieldset>
		<fieldset>
			<h2 class="fs-title">Bauch</h2>
			<label id="bauch1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Crunches"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Sit-Ups"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch3" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Criss-Cross"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch4" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Hüftheben"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch5" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Crunches am Kabelzug"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch6" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Reverse-Crunches"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch7" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Hängendes Beinheben/Knieheben"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch8" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Beinheben/Knieheben" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch9" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Ausrollen" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch10" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Korkenziehen"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch11" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Klappmesser"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch12" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Seitliches Oberkörperbeugen" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch13" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Seitliches Hüftheben"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch14" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Scheibenwischer" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch15" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Hüftrollen" name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label><br>
			<label id="bauch16" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
				<input type="text" class="fs-text" value="Bauch-Twist"  name="ubung" readonly>
				<input type="number" class="fs-number" min="1" name="set" placeholder="Sätze">
				<input type="number" class="fs-number1" min="1" name="rep" placeholder="Wiederholungen">
			</label>
			<input type="button" name="previous" class="previous action-button" value="Previous"/>
		</fieldset>
		</div>
	</form>

	<div>
	<form id="trainingsplan-fertig" action="@routes.Application.speicherTrainingsplan()" method="POST">
		<fieldset id="fs-divs">
			<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag2" width="88" height="31"></div>
			<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag2" width="88" height="31"></div>
			<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" id="drag2" width="88" height="31"></div>
			<div id="neuedivs"></div>
			<input type="button" onclick="adddiv()" class="add action-button" value=" + "/>
			<input type="button" onclick="removediv()" class="remove action-button" value=" - "/>
			<input type="submit" name="submit" class="action-button" value="Bestätigen"/>

		</fieldset>

	</form>
	</div>
	<div>
	<form id="papierkorb">
	<fieldset>
		<div id="div3" ondrop="drop(event); deleteDrop()" ondragover="allowDrop(event)"></div>
	</fieldset>
	</form>
	</div>
	<script>

$('#trainingsplan-fertig').submit(function() {
  $("div#div2 input.fs-text").each(function(i) {
  $(this).attr('name', $(this).attr('name') + i);
  	});

 $("div#div2 input.fs-number").each(function(i) {
  $(this).attr('name', $(this).attr('name') + i);
	});
  $("div#div2 input.fs-number1").each(function(i) {
  $(this).attr('name', $(this).attr('name') + i);
	});
});




	</script>

}