@(p: List[Produkt])
<meta charset="UTF-8">
<link rel="stylesheet" href=@routes.Assets.at("stylesheets/warenkorb-style.css")>
@main(title = "warenkorb") {

  <div class="wbody">

  @if(flash.contains("korbError")){
    <p id ="error">@flash.get("korbError")</p>
  }

  <h1><p>Ihr Warenkorb</p></h1>

    <table class="table table-stripped tabelle">
      <thead>
        <tr>
          <th><p></p></th>
          <th><p>Artikelnummer</p></th>
          <th><p>Name</p></th>
          <th><p>Preis</th>
          <th><p>Beschreibung</p></th>
          <th><p>loeschen?</p></th>
        </tr>
        @for(produkt<- p){
          <tr>
          <th><p></p></th>
          <th><p>@produkt.artikelnummer</p></th>
          <th><p>@produkt.name</p></th>
          <th><p>@produkt.preis Euro</p></th>
          <th><p>@produkt.beschreibung</p></th>
          <th><form action="@routes.Application.deleteProdukt(produkt.artikelnummer)">
              <input type="submit" class="btn btn-danger" value="loeschen">
            </form>
          </th></tr>
        }
        <tr>
          <th><p></p></th>
          <th><p>Gesamtpreis:</p></th>
          <th><p>  </p></th>
          <th><p>@controllers.Application.gesamtpreis() Euro</p></th>
          <th><p> <form action="@routes.Application.deleteWarenkorb()" method="get">
            <input type="submit" class="btn btn-success zurkasse" value="Zur Kasse">
          </form>  </th>
          <th><p>  <form action="@routes.Application.deleteWarenkorb()" method="get">
            <input  type="submit" class="btn btn-danger" value="alle loeschen">
          </form> </th>

      </thead>
    </table>





    </div>


  }





